Source: nsjail
Section: unknown
Priority: optional
Maintainer: aeris <aeris@imirhil.fr>
Build-Depends: debhelper (>= 9), git-core,
				libc6-dev, pkg-config, make, bison, flex,
				libcap-dev, protobuf-compiler, libprotobuf-dev
Standards-Version: 4.1.1.1
Homepage: http://nsjail.com/

Package: cozy-nsjail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: nsjail
Description: A light-weight process isolation tool, making use of Linux namespaces
